body {
  background-color: #ededed;
}

.App {
  background-color: white;
  max-width: 60%;
  margin: auto;
  height: 400px;
}

h1 {
  margin: 10px 50px;
}

.policy {
  margin-left: 40px;
  padding-top: 50px;
  display: flex;
}

.policy > div {
  margin-right: 50px;
}

p {
  margin-top: 6px;
  margin-left: 20px;
}
